# -------------------------
# Python cache & bytecode
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Virtual environments
# -------------------------
venv/
.env.txt

# -------------------------
# Environment files (keep secrets out of git)
# -------------------------
.env
.env.*
*.env
*.env.*

# -------------------------
# Temporary output
# (Safe to ignore)
# -------------------------
output/
output/*.mp3

# -------------------------
# Project assets
# -------------------------
# DO NOT ignore audio in docs/static (these must be published!)
# -------------------------